  
div {
    background: rgba(68,58,48,1);
}

section {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgb(239, 244, 239);
}

table {
color: rgb(68, 58, 48);    
}

.resultlist {
    margin-bottom: 2%;
}
.btn-secondary{
    background: rgb(142, 139, 65)
}